*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: letrapoker;
    src: url(../fonts/CoffeetinInitials-YXJ2.ttf);
}
@font-face {
    font-family: letra2;
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: letra3;
    src: url(../fonts/PokerKingsRegular-36K8.ttf);
}
body {
    min-height: 100vh;
    background-image: url(../img/Frame\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    
    
    
}
.contenido{
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 10px black,
                    1px 1px 10px black,
                    1px 1px 10px black;
   
}
.titulo {
    font-family: letrapoker;
    margin-top: 30vh;
    margin-left: 2vw;
    color: white;
    font-size: 40px;
}

.texto1{
    margin-top: 10vh;
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    font-family: letra3;
    font-size: 30px;
    
}
.entrar{
    margin-top: 13vh;
    margin-left: 18vw;
    
}
.entrar button{
    font-family: letrapoker;
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;   
    box-shadow: 0 5px #494949;
   
    
}

  
  
.entrar button:active {
    
    transform: translatey(4px);
}
.desaparecerelemento {
    animation: desaparecer 0.6s forwards;
}
@keyframes desaparecer{
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
.menu{
    display: none;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    font-family: letra3;
    position: absolute;
    top: 22vh; 
    left: 40.5vw;
    
}
.aparecer{
    animation: aparecer 1s forwards;
}
@keyframes aparecer {
    from{ opacity: 0; transform: translateY(20px);}
    to{ opacity: 1; transform: translateY(0);}

}
.menu button{
    font-family: letrapoker;
    font-size: 30px;
    margin-top: 1em;
    cursor: pointer;   
    box-shadow: 0 5px #494949;
    
}
.menu button:active {
    
    transform: translatey(4px);
}

.text2{
    color: gold;
}
.instrucciones-1 {
    display: none;
    min-height: 100vh;
    background-image: url(../img/instrucciones\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    animation: aparecer2 0.6s forwards;
    opacity: 0;
    overflow: hidden;
    
}
.instrucciones-1 .titulo2 {
    font-family: letrapoker;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    font-size: 40px ;
    position: relative;
    
    
}

.instrucciones-1 .reglas1 {
    font-family: letra2;
    width: 75vw;
    margin-top: 5vh;
    margin-left: 25vw;
    font-size: 19px;
}

.instrucciones-1 .contenido {
    display: flex;
    flex-direction: column;
    
    text-shadow: none;
}

.instrucciones-1 .reglas2 {
    margin-top: 2vh;
    font-family: letra2;
    width: 45vw;
    font-size: 19px;
    margin-left: 50vw;
}

.instrucciones-1 .text {
    font-family: letrapoker;
    font-size: 18px;
}

.instrucciones-1 .todo {
    animation: aparecer3 0.6s forwards;
    opacity: 0;
}

@keyframes aparecer2{
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes aparecer3 {
    from {
    opacity: 0;
    transform: translateY(25px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.flecha {
    position: absolute;
    left: 25vw;
    cursor: pointer;
}

.flecha img {
    width: 35px;
    height: auto;
}
.creditos{
    display: none;
    min-height: 100vh;
    background-image: url(../img/creditos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    animation: aparecer2 0.6s forwards;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    color: white;
    
}
.todo2{
    
    width: 40vw;
    margin-top: 5vh;
    margin-left: 4vw;
    font-family: letra2;
    font-size: 20px;
    animation: aparecer3 0.6s forwards;
    
    
}
.creditos .text{
    font-family: letra3;
    font-size: 22px;
    
    
    
}
.encabezado{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    position: relative;
}
.encabezado .flecha {
    position: absolute;
    left: 4vw;
    cursor: pointer;
    
    
}
.encabezado .flecha img{
    background-color: rgba(173,34,55,255);
    width: 35px;
    height: auto;
}

.creditos .text{
    font-family: letra3;
    font-size: 30px;
    
    
    
}
.nombre{
    font-family: letra3;
    
    font-size: 25px;
}
.juego{
    display: none;
    min-height: 100vh;
    background-image: url(../img/juego.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    animation: aparecer2 0.6s forwards;
    opacity: 0;
    overflow: hidden;
    flex-direction: column
}
.titulo-juego{
    font-family: letrapoker;
    display: flex;
    justify-content: center;
    font-size: 38px;
    color: white;
    margin-top: 2vh;
    animation: aparecer3 0.6s forwards;
}
.game-contenido{
    animation: aparecer3 0.6s forwards;
    color: white;
    font-size: 23px;
    margin-left: 5vw;
    font-family: letra3;

}
#puntosnumero{
    font-family: letra2;
    color: black;
    font-size: 30px;
}
#puntosdealer{
    font-family: letra2;
    color: white;
    font-size: 30px;
}
.cartas{
    width: 70vw;
    height: 35vh;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 15vw;
    
}
.mensaje{
    display: flex;
    justify-content: center;
    color: gold;
    font-size: 35px;
    font-family: letrapoker;
    position: absolute;
    margin-left: 45.5vw;
    margin-top: -9vh;
    
    
}
.botones button{
    font-family: letra3;
    font-size: 20px;
    cursor: pointer;   
    box-shadow: 0 5px #494949;
    animation: aparecer3 0.6s forwards;
    
}
.botones button:active{
    transform: translatey(4px);
}
.titulo-juego .flecha{
    left: 1vw;
    background-color: rgb(188, 0, 226);
}
@media only screen and (max-width: 932px) {
    .botones{
        margin-top: 22vh;
        margin-right: 6vh;
        gap: 2vw;
        
    }
    .cartas{
        height: 20vh;
    }
    body{
        background-image: url(../img/celular.jpg);
        background-size:cover;
        background-position: center;
        display: flex;
        justify-content: center;    
        text-align: center;    
                    
        
    }
    .titulo{
        text-align: center;
        
        
    }
    .entrar{
        margin-top: 13vh;
        margin-left: 0;
        
    }
    .menu{
        margin-left: -20vw;
    }
    .instrucciones-1{
        text-align: center;
        background-size: cover;
        background-position: left;
        height: 100vh;
    }
    .flecha {
        position: absolute;
        left: 1vw;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.438);
    }
    
    
    
    
}
